/*ANIMAÇÃO DE SLIDE NOS ELEMENTOS*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*FIMM ANIMAÇÃO DE SLIDE NOS ELEMENTOS*/

/*INICIO DA INTRO DE CONTATO*/
.contato{
    background:url(../img/img-contato/bg-contato.jpg)center no-repeat;
    width: 100%;
    margin-top: 98px;
    height: 160px;
    color: #fff;
    padding-top: 30px;
}
.contato .row{
    margin-top: -10px;
}
.contato h1{
    font-size: 36px;
    font-weight: bold;
}
.contato h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 14px auto 10px auto;
}
.contato p{
    font-family: Georgia,"Times New Roman",serif;
    font-size: 14px;
}
.conteudo-contato{
    margin-top: 40px;
}
.conteudo-contato label{
    font-family: Georgia,"Times New Roman",serif;
    font-size: 18px;
}
.conteudo-contato input, .conteudo-contato textarea{
    border:4px solid #fec63e;
}
.conteudo-contato input:focus, .conteudo-contato textarea:focus{
    border:4px solid #000;
}
.conteudo-contato #enviar{
    padding: 7px 40px;
    background:none;
    font-size: 14px;
    font-weight: bold;
    transition: all .5s ease;
    color:#fec63e;
    letter-spacing: .1em;
}
.conteudo-contato #enviar:hover{
    border-color: #000;
    color:#000;
}
.dados h3{
    font-size: 18px;
    font-weight: bold;
    color: #fec63e;
}
.dados p{
    font-family: Georgia,"Times New Roman",serif;
    font-size: 18px;
}
.dados img{
    border:3px solid #fec63e;
    padding: 10px;
    margin-bottom: 5px;
}
.dados img:hover{
    border-color: #000 !important;
}
.info{
    margin-top: 20px;
    
}
.header-map{
    background-color: #fec63e;
    margin-top: 30px;
}
.seta{
    margin-top: -3px;
}
.seta-baixo:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fec63e;
}
.header-map .row h3{
    padding: 30px 0 30px 0;
    font-weight: bold;
}
.header-map .row h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 14px auto 10px auto;
}
#googleMap{
    margin-top: -20px;
    z-index: -199999;
}
/*FIMM*/