/*Menu de navegação*/
.menu{
	background-color: #fec63e;
	padding: 20px 0 30px 0;
	border: none;
}
.menu .links li a{
	color: #000;
	font-weight: bold;
	letter-spacing: 2px;
	transition: all 0.5s ;
}
.menu .links li a:hover{
	color:#fff;
	transition: all 0.5s ;
}
.menu .links{
	margin-left: -20px;
}
.logo{
	margin-top: -17px;
}
.navbar-toggle{
	background-color:transparent !important;
	border-color:transparent !important;
}
	
.navbar-toggle .icon-bar{
	background-color: #000 !important;
	height: 4px;
	width: 30px;
}
.ativo{
	color:#fff!important;
}
/*FIM Menu de navegação*/